.card-img1{
    border-radius: 15px !important;
    height: 200px !important;
    width: 210px !important;
    justify-content: center !important;
    margin: auto;
    padding-left: 20px;
}

.card-img2{
    border-radius: 15px !important;
    height: 190px !important;
    width: 210px !important;
    justify-content: center !important;
    margin: auto;
    padding-left: 20px;
}

.card-img3{
    border-radius: 15px !important;
    height: 220px !important;
    width: 210px !important;
    justify-content: center !important;
    margin: auto;
    padding-left: 20px;
}


.container{
    margin: 0px 0px 50px 0px;
    padding-bottom: 5px;
}

.card1{
    margin-top: 35px !important
}

.card2{
    margin-top: 35px !important;
}

.card3{
    margin: 35px 0px 20px 0px !important;
}

.cardtext{
    font-size: 13px !important;
}

.buttonCard1{
    width: 250px;
    border-radius: 59px 59px 59px 59px !important;
    margin: auto 5px 0px 0px 0px !important;
    position: center;
}
.buttonCard1:hover{
    background-color: white !important;
}
.buttonCard2{
    width: 250px;
    border-radius: 59px 59px 59px 59px !important;
    margin: auto 5px 0px 0px 0px !important;
    position: center;
    background-color: 
}
.buttonCard2:hover{
    background-color: white !important;
}

.buttonCard3{
    width: 250px;
    border-radius: 59px 59px 59px 59px !important;
    margin: auto 5px 0px 0px 0px !important;
    position: center;
}

.buttonCard3:hover{
    background-color: white !important;
}