.card-img1{
    border-radius: 15px !important;
    height: 200px !important;
}

.card-img2{
    border-radius: 15px !important;
     height: 200px !important;
}

.card-img3{
    border-radius: 15px !important;
     height: 200px !important;
}


.container{
    margin: 0px 0px 50px 0px
}

.card1{
    margin-top: 35px !important
}

.card2{
    margin-top: 35px !important;
}

.card3{
    margin: 35px 0px 20px 0px !important;
}

.buttonCard1{
    width: 250px;
    border-radius: 59px 59px 59px 59px !important;
    margin: auto 5px 0px 0px 0px !important;
    position: center;
}

.buttonCard2{
    width: 250px;
    border-radius: 59px 59px 59px 59px !important;
    margin: auto 5px 0px 0px 0px !important;
    position: center;
}

.buttonCard3{
    width: 250px;
    border-radius: 59px 59px 59px 59px !important;
    margin: auto 5px 0px 0px 0px !important;
    position: center;
}