.coolcontact {
    margin: 0px 30px 0px 5px;
    background-color: #FFE382 !important;
    border-top: 5px solid black;
}
.rightborder {
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.wrongborder {
    border-left: 1px solid black;
    border-top: 1px solid black;
}