.header{
    background-color: #FFE382;
}

.home{
    background-color: #FFE382;
    height: 430px;
    margin: 0px 0px 500px;
}

.title {
  
   
}

.section{
    padding: 0px 5px 0px 12px !important;
    margin: 0px 0px 60px 0px !important;
    width: ;
   
}

.imageheader{
    width: 460px;
    height: 300px;
    margin: 20px 0px 0px 0px !important;
    
}

